header {
  position: absolute;
  z-index: 2;
  top: 0;

  width: 100%;
}
header .navbar-brand i {
  color: #35a22c;
  padding-right: 8px;
}

a.navbar-brand {
  font-size: 2rem;
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
  transition: 0.5s;
  position: relative;
  margin: 0 16px;
  overflow: hidden;
  font-size: 1.2rem;
}

.navbar-nav .active > .nav-link {
  color: #35a22c;
}

.navbar-nav .nav-link:hover {
  color: #35a22c;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #35a22c;
  transition: 0.5s;
  transform: translateX(-100%);
}

.navbar-nav .active > .nav-link::after {
  transform: translateX(0px);
}

.navbar-nav .nav-link:hover::after {
  transform: translateX(0px);
}
/* Start Carousel */
.carousel-portfolio {
  position: relative;
}
.carousel-portfolio::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.2;
}
.carousel-item {
  height: 100vh;
}
.carousel-item img {
  height: 100%;
}
.carousel-caption .user-carousel {
  border-radius: 100%;
  width: 160px;
}
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-caption h5 {
  font-size: 3rem;
}
.carousel-caption p {
  font-size: 1.2rem;
}
.carousel-indicators {
  bottom: 60px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #35a22c;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
}

/* End Carousel */
/* Start Project */
.project__title {
  padding: 0 120px;
}
.project__title h3 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}
.project__title p {
  margin: 30px 0 40px;
  text-align: center;
}
.nav {
  justify-content: center;
}
.project .nav-pills .nav-link {
  color: black;
  border: 1px solid black;
  margin-right: 16px;
}
.project .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #35a22c;
  color: #fff;
  border: none;
}

.item__project {
  height: 450px;
  margin: 15px 0;
}
.container__items {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.container__items img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: 0% 25%;
}
.title__items {
  text-align: center;
  padding: 12px;
  height: 25%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid transparent;
  border-top: none;
  transition: all 0.5s;
}
.title__items h3 {
  font-size: 1.2rem;
  font-weight: 400;
}
.container__items:hover .title__items {
  border: 1px solid #35a22c;
  border-top: none;
}
.container__items:hover h3 {
  color: #35a22c;
}
/* End Project */
/* Start features */
.features {
  background-image: url(./image/3.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  width: 100%;
  background-attachment: fixed;
  position: relative;
  padding: 80px 0;
}
.features__container {
  padding: 0 600px 20px;
}
.features::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(7, 10, 12, 0.72);
}
.features h2,
.features p {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
.features h2 {
  font-size: 2.4rem;
  margin-bottom: 14px;
}
.features p {
  font-size: 1rem;
}

.items__content {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(3px);
  text-align: center;
  color: #fff;
  padding: 24px;
  transition: 0.5s;
  border: 1px solid transparent;
}

.items__content i {
  font-size: 3rem;
  color: #35a22c;
}
.items__content h4 {
  padding: 24px 0;
}
.items__content:hover {
  background-color: #000;
  border: 1px solid #fff;
}
/* End features */
/* Start Award */
.award {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-size: 50% auto;
  background-repeat: no-repeat;
  position: relative;
}
.award::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #fff;
  opacity: 0.5;
}
.award_container {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.award__title {
  width: 40%;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;
  border-radius: 10px;
  display: flex;
  padding: 0 36px;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}
.award__title h3 {
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: bold;
}
.award__details {
  width: 60%;
  padding: 0 24px;
}
.award__details img {
  width: 120px;
  padding: 0 8px;
}
/* End Award */
/* Start Footer */
footer {
  background-color: #222222;
  text-align: center;
  color: #fff;
}
footer .container {
  opacity: 0.6;
}
.footer__icon {
  position: relative;
}
.footer__icon i {
  font-size: 1rem;
  padding: 12px;
  margin-right: 10px;
  border: 0.5px solid #fff;
  border-radius: 50%;
  font-weight: 100;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.5;
}
.footer__icon i:hover {
  color: #35a22c;
  border: 0.5px solid #35a22c;
}
.footer__icon .fa-facebook-f {
  padding: 12px 14px;
}
.footer__icon::after {
  content: "";
  width: 100%;
  height: 0.5px;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #fff;
  opacity: 0.5;
}
footer p {
  margin-top: 52px;
}
/* End Footer */
